[Unit]
Description=Samba
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStartPre=-/bin/bash /etc/supervisor/createUsers.sh
ExecStart=/usr/local/samba/sbin/smbd --no-process-group -F -d 1 -s /etc/samba/smb.conf
PIDFile=/usr/local/samba/var/run/samba.pid

[Install]
WantedBy=multi-user.target
